<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml" />
  <logger name="jdbc.splonly" level="FATAL" />
  <logger name="jdbc.sqltiming" level="FATAL" />
  <logger name="jdbc.audit" level="FATAL" />
  <logger name="jdbc.resultset" level="FATAL" />
  <logger name="jdbc.resultsettable" level="FATAL" />
  <logger name="jdbc.connection" level="FATAL" />
</configuration>